body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3c786;
    color: #333;
}

header {
    background-image: url('titlu.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#title {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(24px, 6vw, 50px);
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

nav {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: clamp(6px, 3vw, 18px);
}

section {
    padding: 40px 20px;
    max-width: 80vw;
    margin: auto;
}

section h2 {
    font-family: 'Playfair Display', serif;
    color: #2b1505;
    font-size: clamp(24px, 5vw, 70px);
}

section p {
    font-size: clamp(16px, 3vw, 20px);
}

.quote {
    font-style: italic;
    margin: 30px 0;
    border-left: 4px solid #ccc;
    padding-left: 20px;
    color: #555;
}

.timeline {
    border-left: 4px solid #5a2e0c;
    margin: 20px 0;
    padding-left: 20px;
}

.timeline p {
    margin: 10px 0;
}

footer {
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
}
main {
      flex: 1; /* pushes the footer down */
    }

@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }
    section h2 {
        font-size: 40px;
    }
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

#img {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.btn {
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #58380e;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #291a09;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(212, 114, 9, 0.5);
    transform: translateY(-0.1rem);
    translate: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.container {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    padding-bottom: 8rem;
    padding-top: 4rem;
}

.g1 {
    font-size: 5.4rem;
    color: #2b1505;
}

.over {
    background-image: url(bg.png);
    background-size: cover;
    margin: -20px;
    color: rgb(0, 0, 0);
}